/* Logo Adjustment */
.Author-module--author__photo--36xCH { margin-left: -30px !important;}

.Content-module--content__title--2BDW9 { text-align: left !important; max-width: none !important; font-weight: bold; color: #003399;}
.Post-module--post__footer--3WzWU { text-align: left; max-width: none !important;}
.Content-module--content__body--2TrQ- p { text-align: left; max-width: none !important; }
.Content-module--content--3p512 { text-align: left; max-width: none !important; }
.Feed-module--feed__item-title-link--iFMRs { color: #003399 !important;}
.Feed-module--feed__item-title-link--iFMRs:focus, .Feed-module--feed__item-title-link--iFMRs:hover { color: #C0273C !important; border-bottom: 1px solid #C0273C !important;}

.post__feed-button { display: block; height: 35px; padding: 0 1.5rem; text-align: center; color: #222; border: 1px solid #e6e6e6; border-radius: 1.25rem; font-size: 1rem; font-weight: 400;}