/* Logo Adjustment */
.Author-module--author__photo--36xCH { margin-left: -30px !important;}

.Content-module--content__title--2BDW9, .Post-module--post__footer--3WzWU{ text-align: left; max-width: none;}

.Content-module--content__body--2TrQ- p { text-align: left; max-width: none; }
